<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobai.medical.mapper.CityMapper">

    <!-- 城市结果映射，查看postman的信息，这里就是info的内容（结果集） -->
    <resultMap id="AllCityMap" type="com.mobai.medical.model.CityModel">
        <id property="cityId" column="city_id"/>
        <result property="cityNumber" column="city_number"/>
        <result property="province" column="pname"/>
        <result property="city" column="cname"/>
    </resultMap>

    <!-- 查询所有城市信息（支持名称模糊查询） -->
    <select id="getAllCity" resultMap="AllCityMap">
        SELECT
        c.city_id,
        c.city_number,
        s.`name` AS cname,
        s2.`name` AS pname
        FROM city c
        LEFT JOIN sysregion s ON c.city_number = s.id
        INNER JOIN sysregion s2 ON s.parent_id = s2.id
        <if test="name != null and name != ''">
            <where>
                <bind name="cityName" value="'%' + name + '%'"/>
                s2.name LIKE #{cityName}
                OR s.`name` LIKE #{cityName}
            </where>
        </if>
    </select>

    <!-- 根据ID查询单个城市信息 -->
    <select id="getCityById" resultType="com.mobai.medical.domain.City">
        SELECT *
        FROM city
        WHERE city_id = #{id}
        LIMIT 1
    </select>

</mapper>