<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobai.medical.mapper.MaterialMapper">
    <!--查询所有的必备材料-->
    <select id="getAllMaterial" resultType="com.mobai.medical.model.MaterialModel">
        SELECT id,title,message FROM `material`
        <where>
            <trim prefixOverrides="OR">
                <if test="keyword != null and keyword != ''">
                    <bind name="key" value="'%' + keyword + '%'"/>
                    OR id LIKE #{key}
                    OR title LIKE #{key}
                    OR message LIKE #{key}
                </if>
            </trim>
        </where>
    </select>


    <!-- 添加必备材料 -->
    <insert id="saveMaterial">
        INSERT INTO `material`(title, message)
        VALUES (#{title}, #{message})
    </insert>

    <!-- 更新必备材料 -->
    <update id="updateMaterial">
        UPDATE `material`
        SET title   = #{title},
            message = #{message}
        WHERE id = #{id}
    </update>

    <!-- 根据ID删除必备材料 -->
    <delete id="deleteMaterial">
        DELETE
        FROM `material`
        WHERE id = #{id}
    </delete>

</mapper>